.gridContainer
    background: #F6F6F6
    padding: 64px 64px 32px 64px
    display: grid
    grid-template: 674px 765px / 304px 976px
    justify-content: space-between

.allNewsContainer
    grid-row: 1 / 3